<div class="card">
  <div class="card-header">
    <strong>Ajouter un congé</strong>
  </div>
  <div class="card-body">
    <form ngForm="form">
      <div class="row">
        <div class="col">
          <label for="inputState"><strong>Personnel : </strong></label>
          <br>
          <br>
          <select class="form-control" [(ngModel)]="service.conge.idpersonnel" name="idpersonnel"   (change)="selectionChange($event)"
          >

          
            <option selected>Employé</option>
            <option *ngFor="let items of uow.personnels" [value]="items.id">{{ items.nom }} {{ items.prenom }}
            </option>

          </select>
          <br>
          <p> <b>Le nombre de jours pris est : {{totalDate}}/{{totalConge}} , il vous reste en solde
            {{totalConge - totalDate}} </b></p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <div class="col-12" style="text-align: left;">
            <label class="form-label"><strong>Date De début:</strong></label>
                <input type="date" [(ngModel)]="service.conge.dateDebut" name="datedebut" class="form-control" [value]="dateDebut">
              </div>
        </div>
        <div class="col">
          <div class="col-12" style="text-align: left;"><label class="form-label"><strong>Date De Fin
                :</strong></label>
                <input type="date" [(ngModel)]="service.conge.dateFin" name="datedebut" class="form-control" [value]="dateFin">           
           </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <div class="mb-3" style="text-align: left;"><label class="form-label" for="city"><strong>Motif
                :</strong></label>
            <select class="form-select" aria-label="Default select example"  [(ngModel)]="service.conge.motif" name="motif">
              <option selected>Selectionner</option>
              <option value="Mariage">Mariage</option>
              <option value="Maladie">Maladie</option>
              <option value="Annuel">Annuel</option>
              <option value="Décés">Décés</option>
              <option value="congé payé">congé payé</option>
            </select>
          </div>
          <div class="col">
            <div class="mb-3" style="text-align: left;"><label class="form-label" for="country"><strong>Etat de congé
                  :</strong></label>
              <select class="form-select" aria-label="Default select example" [(ngModel)]="service.conge.etat"
                name="etat">
                <option selected>Selectionner</option>
                <option value="Validé">Validé</option>
                <option value="En cours d'examen">En cours d'examen</option>
                <option value="Refusé">Refusé</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <br>

      <button type="submit"  (click)="submit()" class="btn btn-primary" [routerLink]="['/backoffice/rh/conge']">Ajouter</button>

    </form>

  </div>



    
  
  
  
  
   
    <label><strong>Liste Des Congés :</strong></label>
  <br><br>
  <table class="tftable" border="1">
    <tr>
      <th class="table-active" style="color: white;" scope="col">Numéro de congé</th>
      <th class="table-active" style="color: white;" scope="col">Nom et prenom</th>
      <th class="table-active" style="color: white;" scope="col">Matricule</th>
      <th class="table-active" style="color: white;" scope="col">Date début</th>
      <th class="table-active" style="color: white;" scope="col">Date fin</th>
      <th class="table-active" style="color: white;" scope="col">Motif</th>
      <th class="table-active" style="color: white;" scope="col">Nombre Jour</th>

      <th class="table-active" style="color: white;" scope="col">Etat</th>

      <!-- <th class="table-active" scope="col">Employe</th> -->
    </tr>


    <tr class="table-striped" *ngFor="let d of tf">
      <label hidden for="inputState"><strong>Conge ID: {{d.id}} </strong></label>
      <td>{{d.id}}</td>
      <td>{{d.personnel.nom}} {{d.personnel.prenom}}</td>
      <td>{{d.personnel.marticule}}</td>
      <td>{{d.dateDebut}}</td>
      <td>{{d.dateFin}}</td>
      <td>{{d.motif}}</td>
      <td>{{dateDeff(d.dateDebut, d.dateFin)}}</td>
      <td>{{d.etat}}</td>


    </tr>


  </table>

 



</div>