
<div class="card">
  <div class="card-header">
    <strong>Ajouter une demande d'attestation</strong>
  </div>
  <div class="card-body">
    <form ngForm="form">
      <div class="row">
        <div class="col">
          <label for="inputState"><strong>Personnel : </strong></label>
          <br>
          
          <select class="form-control"  name="idpersonnel">
            <option selected>Employé</option>
            <option >
            </option>

          </select>

        </div>
      </div>
      <br>
      <div class="row">

        <div class="col">
          <div class="col-12" style="text-align: left;"><label class="form-label"><strong>motif
                :</strong></label>
                <input type="text"  name="motif" class="form-control" >           
           </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <div class="col-12" style="text-align: left;">
            <label class="form-label"><strong>statut</strong></label>
            <select class="form-select" aria-label="Default select example"   name="etat">
              <option selected>Etat Demande</option>
              <option value="Approuvé">Approuvé</option>
              <option value="En attente">En attente</option>
              <option value="refusé">refusé</option>


            </select>  
            </div>
        
        </div>
      </div>
      <br>

      <button type="submit"  class="btn btn-primary" [routerLink]="['/backoffice/rh/demande/attestation/list']">Ajouter</button>

    </form>

  </div>
</div>
  