
<div class="card">
  <div class="card-header">
    <strong>Ajouter une demande d'attestation</strong>
  </div>
  <div class="card-body">
    <form ngForm="form">
      <div class="row">
        <div class="col">
          <label for="inputState"><strong>Personnel : </strong></label>
          <br>
          
          <select class="form-control"  name="idpersonnel">
            <option selected>Employé</option>
            <option >
            </option>

          </select>

        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <div class="col-12" style="text-align: left;">
            <label class="form-label"><strong>Date Demande:</strong></label>
                <input type="date"  name="datedebut" class="form-control" >
              </div>
        </div>
        <div class="col">
          <div class="col-12" style="text-align: left;"><label class="form-label"><strong>motif
                :</strong></label>
                <input type="text"  name="motif" class="form-control" >           
           </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <div class="col-12" style="text-align: left;">
            <label class="form-label"><strong>statut</strong></label>
                <input type="text"  name="statut" class="form-control" >
              </div>
        
        </div>
      </div>
      <br>

      <button type="submit"  class="btn btn-primary" [routerLink]="['/backoffice/rh/demande/attestation/list']">Ajouter</button>

    </form>

  </div>
</div>
  