
 
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
                <div class="card-header">1</div>
                <div class="card-body">
                  <h5 class="card-title">Front Office</h5>
                  <p class="card-text">Espace Visiteur</p>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card text-white bg-secondary mb-3" style="max-width: 25rem;">
                <div class="card-header">2</div>
                <div class="card-body">
                    <h5 class="card-title">Comptabilité et finance </h5>
                    <button class="btn btn-primary"  (click)="go_to_comptabilite()">Module Comptabilite</button>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card text-white bg-success mb-3" style="max-width: 25rem;">
                <div class="card-header">3</div>
                <div class="card-body">
                    <h5 class="card-title">Personnel Medical</h5>
                    <button class="btn btn-primary"  (click)="go_to_personnel()">Module Personnel</button>
                </div>
              </div>
          </div>
        </div>
    
    
        <div class="row">
            <div class="col-sm">
                <div class="card text-white bg-info mb-3" style="max-width: 25rem;">
                    <div class="card-header">4</div>
                    <div class="card-body">
                        <h5 class="card-title">Authentification Medical</h5>
                        <button class="btn btn-primary"  (click)="go_to_authentification()">Module Authentification</button>
                    </div>
                  </div>
            </div>
            <div class="col-sm">
             
      <div class="card text-white bg-warning mb-3" style="max-width: 25rem;">
        <div style="color: black;" class="card-header">5</div>
        <div class="card-body">
            <h5 style="color: black;" class="card-title">Medecine Medical</h5>
            <button class="btn btn-primary"  (click)="go_to_medecin()">Module Medecin</button>
        </div>
      </div>
            </div>
            <div class="col-sm">
                <div class="card text-white bg-danger mb-3" style="max-width: 25rem;">
                    <div class="card-header">6</div>
                    <div class="card-body">
                        <h5 class="card-title">Ressource Humaine</h5>
                        <button class="btn btn-primary"  (click)="go_to_rh()">Module RH</button>
                    </div>
                  </div>
            </div>
          </div>
    
    
          <div class="row">
            <div class="col-sm">
                <div class="card text-white bg-success mb-3" style="max-width: 25rem;">
                    <div class="card-header">7</div>
                    <div class="card-body">
                        <h5 class="card-title">Stock Medical</h5>
                        <button class="btn btn-primary"  (click)="go_to_stock()">Module Stock</button>
                    </div>
                  </div>
            </div>
            <div class="col-sm">
             
                <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
                    <div class="card-header">8</div>
                    <div class="card-body">
                        <h5 class="card-title">Secretaire Medical</h5>
                        <button class="btn btn-primary"  (click)="go_to_secretaire()">Module Secretaire</button>
                    </div>
                  </div>
            </div>
            <div class="col-sm">
                <div class="card bg-light mb-3" style="max-width: 25rem;">
                    <div class="card-header">9</div>
                    <div class="card-body">
                      <h5 class="card-title">Laboratoire Medical</h5>
                      <button class="btn btn-primary"  (click)="go_to_laboratoire()">Module Laboratoire</button>
                    </div>
                  </div>
            </div>
          </div>
    
      </div>
      
 
            


 
        










  

 