
<div class="card">
  <div class="card-header">
    <strong>Ajouter une demande Fiche de paie</strong>
  </div>
  <div class="card-body">
    <form ngForm="form">
      <div class="row">
        <div class="col">
          <label for="inputState"><strong>Personnel : </strong></label>
          <br>
          
          <select class="form-control"  name="idpersonnel">
            <option selected>Employé</option>
            <option >
            </option>

          </select>

        </div>
      </div>
      <br>
      <div class="row">
   
        <div class="col">
          <div class="col-12" style="text-align: left;"><label class="form-label"><strong>motif
                :</strong></label>
                <input type="text"  name="motif" class="form-control" >           
           </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="col-12" style="text-align: left;">
            <label class="form-label"><strong>mois</strong></label>
            <select class="form-select" aria-label="Default select example"    name="mois" >
              <option selected>Mois</option>
              <!-- <option *ngFor="let e of months" [value]="e">{{ e }}</option> -->
              <option value="1">Janvier</option>
              <option value="2">Février</option>
              <option value="3">Mars</option>
              <option value="4">Avril</option>
              <option value="5">Mai</option>
              <option value="6">Juin</option>
              <option value="7">Juillet</option>
              <option value="8">Aout</option>
              <option value="9">Septembre</option>
              <option value="10">Octobre</option>
              <option value="11">Novembre</option>
              <option value="12">Decembre</option>
            </select>              </div>
        </div>
        <div class="col">
          <div class="col-12" style="text-align: left;">
            <label class="form-label"><strong>année</strong></label>
            <select class="form-select" aria-label="Default select example"  name="annee" >
              <option selected>Annees</option>
              <option *ngFor="let e of years" [value]="e">{{ e }}</option>
            </select>              </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <div class="col-12" style="text-align: left;">
            <label class="form-label"><strong>statut</strong></label>

            <select class="form-select" aria-label="Default select example"   name="etat">
              <option selected>Etat Demande</option>
              <option value="Approuvé">Approuvé</option>
              <option value="En attente">En attente</option>
              <option value="refusé">refusé</option>


            </select>              </div>
        
        </div>
      </div>
      <br>

      <button type="submit"  class="btn btn-primary" [routerLink]="['/backoffice/rh/demande/attestation/list']">Ajouter</button>

    </form>

  </div>
</div>
  