<div class="card">
    <div class="card-header">
      <strong>Ajouter un Contrat</strong>
    </div>
    <div class="card-body">
      <form ngForm="form">
        <div class="row">
          <div class="col">
            <label for="inputState"><strong>Personnel : </strong></label>
            <br>
            <br>
            <select class="form-control" [(ngModel)]="service.contrat.idpersonnel" name="idpersonnel"   
            >
  
            
              <option selected>Employé</option>
              <option *ngFor="let items of uow.personnels" [value]="items.id">{{ items.nom }} {{ items.prenom }}
              </option>
  
            </select>
            <br>
   
          </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
              <div class="col-12" style="text-align: left;">
                <label class="form-label"><strong>Date De début:</strong></label>
                <input type="date" [(ngModel)]="service.contrat.dateDebut" name="datedebut"
                  class="form-control" #dateDebut [value]="dateDebut" >
              </div>
            </div>
            <div class="col">
              <div class="col-12" style="text-align: left;"><label class="form-label"><strong>Date De
                    Fin
                    :</strong></label>
                <input type="date" [(ngModel)]="service.contrat.dateFin" name="datedebut"
                  class="form-control" #dateFin [value]="dateFin">
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="mb-3" style="text-align: left;">
                <label class="form-label"><strong>Date De dateSignature:</strong></label>
                <input type="date" [(ngModel)]="service.contrat.dateSignature" name="datedebut"
                  class="form-control" #dateSignature [value]="dateSignature" >
              </div>
              <div class="col">
                <div class="mb-3" style="text-align: left;"><label class="form-label"
                    for="country"><strong>Type de Contrat
                      :</strong></label>
                  <select class="form-select" aria-label="Default select example" #typeContrat
                    [(ngModel)]="service.contrat.typeContrat" name="typeContrat">
                    <option selected>Selectionner</option>
                    <option value="CDI">CDI</option>
                    <option value="CDD">CDD</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        <br>
  
        <button type="submit"  (click)="submit()" class="btn btn-primary" [routerLink]="['/backoffice/rh/contrat']">Ajouter</button>
  
      </form>
  
    </div>

  
  
  </div>