
<form>
  <div class="mb-3">

  </div>
  <div class="row">
      <div class="col">
          <div class="mb-3" style="text-align: left;"><label class="form-label" for="city"><strong>Intitule :</strong></label><input type="text" class="form-control" id="intitule" placeholder="medecin...." name="intitule" /></div>
      </div>

  </div>
  <div class="row">
      <div class="col">
          <div class="mb-3" style="text-align: left;"><label class="form-label" for="city"><strong>Salaire Horaire :</strong></label><input type="text" class="form-control" id="salaireHoraire" placeholder="300...." name="salaireHoraire" /></div>
      </div>

  </div>



</form>
