<div class="container-fluid">
  <h3 class="text-dark mb-4">Fiche de renseignement</h3>
  <div class="row mb-3">
      <div class="col-lg-4">
          <div class="card mb-3">
              <div class="card-body text-center shadow">
                  <img class="rounded-circle mb-3 mt-4"  id="myimage"  [src]="getImage()" width="160" height="160">
                  <div class="mb-3"><label class="form-label">{{o.nom}}&nbsp;{{o.prenom}}</label></div>
              </div>
          </div>
          <div class="card shadow mb-4">
              <div class="card-header py-3">
                  <h6 class="text-primary fw-bold m-0"><br><strong>Informations professionnels</strong><br><br></h6><div class="card-body">
<div class="row">
<div class="col">
<div class="mb-3"><label class="form-label" for="username"><strong>Matricule :  </strong></label>
<div><label class="form-label" for="username"><strong>{{o.marticule}}</strong></label></div>
</div>
</div>
</div>
<div class="row">
<div class="col">
<div class="mb-3"><label class="form-label" for="username"><strong>Date D&#39;embauche :  </strong></label>
<div><label class="form-label" for="username"><strong>{{o.dateEmbauche}}</strong></label></div>
</div>
</div>
</div>
<div class="row">
<div class="col">
<div class="mb-3"><label class="form-label" for="username"><strong>Email :  </strong></label>
<div><label class="form-label" for="username"><strong>{{o.email}}</strong></label></div>
</div>
</div>
</div>
<div class="row">
<div class="col">
<div class="mb-3"><label class="form-label" for="username"><strong>Date Fin de contrat :  </strong></label>
<div><label class="form-label" for="username"><strong>dd/MM/yyyy</strong></label></div>
</div>
</div>
</div>
</div>
              </div>
          </div>
      </div>
      <div class="col-lg-8">
    
          <div class="row">
              <div class="col">
                  <div class="card shadow mb-3">
                      <div class="card-header py-3">
                          <p class="text-primary m-0 fw-bold">Informations Personnelles</p>
                      </div>
                      <div class="card-body">
                          <form>
                              <div class="row">
                                  <div class="col">
                                      <div class="mb-3"><label class="form-label" for="username"><strong>Nom :&nbsp;</strong></label>
                                          <div><label class="form-label" for="username"><strong>{{o.nom}}</strong></label></div>
                                      </div>
                                  </div>
                                  <div class="col">
                                      <div class="mb-3"><label class="form-label" for="username"><strong>Prénom:&nbsp;</strong></label>
                                          <div><label class="form-label" for="username"><strong>{{o.prenom}}</strong></label></div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <div class="mb-3"><label class="form-label" for="username"><strong>CIN :&nbsp;&nbsp;</strong></label>
                                          <div><label class="form-label" for="username"><strong>{{o.cin}}</strong></label></div>
                                      </div>
                                  </div>
                                  <div class="col">
                                      <div class="mb-3"><label class="form-label" for="username"><strong>Tél :&nbsp;</strong></label>
                                          <div><label class="form-label" for="username"><strong>{{o.tel}}</strong></label></div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <div class="mb-3"><label class="form-label" for="username"><strong>Date de Naissance :&nbsp;&nbsp;</strong></label>
                                          <div><label class="form-label" for="username"><strong>{{o.dateNaissance}}</strong></label></div>
                                      </div>
                                  </div>
                                  
                                  <div class="col">
                                      <div class="mb-3"><label class="form-label" for="username"><strong>Lieu De Naissance :&nbsp;</strong></label>
                                          <div><label class="form-label" for="username"><strong>{{o.lieuNaissance}}</strong></label></div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                    <div class="mb-3"><label class="form-label" for="username"><strong>Intitulé du diplome :&nbsp;&nbsp;</strong></label>
                                        <div><label class="form-label" for="username"><strong>{{o.intituleDiplome}}</strong></label></div>
                                    </div>
                                </div>
                                
                                <div class="col">
                                    <div class="mb-3"><label class="form-label" for="username"><strong>Adresse :&nbsp;</strong></label>
                                        <div><label class="form-label" for="username"><strong>{{o.adresse}}</strong></label></div>
                                    </div>
                                </div>
                            </div>
                              <div class="row">
                                  <div class="col">
                                      <div class="mb-3"><label class="form-label" for="username"><strong>N° Sécurité social:&nbsp;&nbsp;</strong></label>
                                          <div><label class="form-label" for="username"><strong>{{o.securiteSocial}}</strong></label></div>
                                      </div>
                                  </div>
                                  <div class="col">
                                      <div class="mb-3"><label class="form-label" for="username"><strong>Nombre d'enfant :&nbsp;</strong></label>
                                          <div><label class="form-label" for="username"><strong>{{o.nbrEnfant}}</strong></label></div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div class="mb-3"><label class="form-label" for="username"><strong>Statut familial :&nbsp;&nbsp;</strong></label>
                                      <div><label class="form-label" for="username"><strong>{{o.situationFamiliale}}</strong></label></div>
                                  </div>
                              </div>
                                  <div class="col">
                                      <div class="mb-3"><label class="form-label" for="username"><strong>Sexe :&nbsp;</strong></label>
                                          <div><label class="form-label" for="username"><strong>{{o.sexe}}</strong></label></div>
                                      </div>
                                  </div>
                              </div>
                         
                              <div class="mb-3"></div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
