<div class="card">
    <div class="card-header">
        <strong>Ajouter une affecation</strong>
    </div>
    <div class="card-body">
        <form ngForm="form">
            <div class="row">
                <div class="col">
                    <label for="inputState"><strong>Personnel : </strong></label>
                    <br>

                    <select class="form-control" [(ngModel)]="service.affectation.idpersonnel" name="idpersonnel">
                        <option selected>Employé</option>
                        <option *ngFor="let items of uow.personnels" [value]="items.id">{{ items.nom }} {{ items.prenom }}</option>

                           
                        
                    </select>

                </div>
            </div>


            <br>


            <div class="row">
                <div class="col">
                    <label for="inputState"><strong>Post : </strong></label>
                    <br>

                    <select class="form-control" [(ngModel)]="service.affectation.idpost" name="idpost">
                        <option selected>Post</option>
                        <option *ngFor="let i of wow.posts" [value]="i.id">{{ i.libelle }}</option>
                        

                    </select>

                </div>
            </div>

            <br>
            <div class="row">
                <div class="col">
                    <div class="col-12" style="text-align: left;">
                        <label class="form-label"><strong>Date D'affectation:</strong></label>
                        <input type="date" [(ngModel)]="service.affectation.dateDebut" name="dateDebut"
                            class="form-control" [value]="dateDebut">
                    </div>
                </div>
                <div class="col">
                    <div class="col-12" style="text-align: left;">
                        <label class="form-label"><strong>Date De Fin:</strong></label>
                        <input type="date" [(ngModel)]="service.affectation.dateFin" name="dateFin" class="form-control"
                            [value]="dateFin">
                    </div>
                </div>
            </div>
            <br>

            <button type="submit" (click)="submit()" class="btn btn-primary"
                [routerLink]="['/backoffice/rh/poste/listaffectation']">Ajouter</button>

        </form>

    </div>
</div>